#root {
  .main-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo {
      color: #ff007f;
      font-weight: 900;
      font-size: 40px;
      padding-bottom: 48px;
    }
    .main-container {
      .seal-btn {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.5px;
        padding: 8px 16px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #c6c6c6;
        background-color: white;
        border-bottom: 0;
      }
      .seal-box {
        background-color: white;
        margin-top: -8px;
        border: 1px solid #c6c6c6;
        box-sizing: content-box;
        border-radius: 5px;
        box-shadow: 0 5px 8px 0 rgba(68, 68, 68, 0.04);
        padding: 20px 28px;
      }
    }
  }
}
